# SSH sécurisé (baseline)
Protocol 2
Port 22
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
TCPKeepAlive yes
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
MaxAuthTries 3
PrintMotd no
# AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
